
Button {

    -fx-font-size: 18px;

    -fx-background-color: #3C3F41;
    -fx-text-fill: #A9B7C6;
}


Label {

    -fx-text-fill: #A9B7C6;
    -fx-font-size: 18px;
}

BorderPane {

    -fx-background-color: #2b2b2b;
}

GridPane {

    -fx-background-color: #2B2B2B !important;
    -fx-padding: 20;
    -fx-hgap: 15;
    -fx-vgap: 15;
}

TextField {
    -fx-font-size: 16px;
}


.list-view {
    -fx-background-color: #333333;
    -fx-background-insets: 0;
    -fx-padding: 2;
    -fx-border-color: #444444;
}


.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #A9B7C6;
    -fx-padding: 10 15;
}

.list-cell:hover {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: #ffffff;
}

.list-cell:filled:selected {
    -fx-background-color: #4a545e;
    -fx-text-fill: white;
    -fx-border-color: #5a646e transparent #3a444e transparent;
}


.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #4a545e;
}